.cart-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));

    
}
.cart-container .carts{
    padding: 30px 30px 0 30px;
    margin: 20px;
    box-shadow: 0 0 10px rgb(31, 143, 235);

}
.dark .carts {
    background-color: rgb(71, 69, 69);
}
.cart-container img{
    width: 80%;
    height: 50%;
    
}
.cart-container .carts span:nth-child(4){
    color: rgb(18, 173, 54);
}
.cart-container .carts p:nth-child(5){
    color: rgb(253, 66, 9);
}

.cartBtns{
    margin-top: 20px;
}
.cartBtns a{

    text-decoration: none;
    color: white;
    background-color: #2874f0 ;
    font-weight: 500;
    padding: 10px;
}
/* .cartBtns a:nth-child(1){
    margin-right: 10px;
} */
