.header{
    background-color: #2874f0;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}
.logo{
    width: 50%;
}
.logo-sub{
    font-style: italic;
    font-weight: lighter;
}
.logo-sub span:nth-child(2){
color: #ffe500;
margin: 0 5px;
}
.logo-sub img{
    height: 15px;
    transform: rotate(10deg);
}
.searchInput{
    width: 30vw;
    height:50px;
    padding: 20px;
    border:1px solid #2874f0;
}
.searchIcon{
    color: #2874f0;
    position: relative;
    top: 0;
    left: -40px;
    margin:10px;
}
.button{
    width: 10vw;
    height:50px;
    padding: 10px;
    color: #2874f0;
    background-color: white;
    border:1px solid #2874f0;
    font-size: large;
}
.cart span{
    font-size:25px;
}

.navbar{
    font-size: 25px;
    font-weight: 500;
    display: none;
    visibility: hidden;
    opacity: 0;
}
.hide-navbar {
    display: none;
    position: absolute;
    top: 200px;
    padding: 2px 12px;
    font-weight: bolder;
    min-width: 100%;
    min-height: 100vh;
    color: white;
    background-image: linear-gradient(#2874f0, #2874f0 11%, white 11%, white 100% );
    filter: blur();
}

.hide-navbar .nav{
 
    display: flex;

    column-gap: 33%;
    /* justify-content: space-between; */
    padding: 2% 5%;

}
.colse{
    font-weight: bolder;
    border: 2px solid white;
    padding:5px;
    height: 28px;
}
.mobile-nav li{
    font-weight: 500;
    margin:5px 0;
}
.mobile-login-add{
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.mobile-login-add li{
    list-style: none;
  
}
@media screen and (min-width:481px) and (max-width:1028px) {
    .searchInput, .button, .cart span{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .navbar{
        display: block;
        visibility: visible;
        opacity: 1;
    }
}
.swipe-btn{
    position: absolute;
    top: 100px;
    background-color: rgb(97, 98, 100);
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 1.5px;
    border-top: 0.8px solid rgb(187, 187, 188);
    border-left: 0.8px solid rgb(187, 187, 188);
    transition: 0.5s;
    padding-left: 55px;
    color: rgb(213, 210, 213);
    /* st the end  */
    overflow: hidden;
    cursor: pointer;
}
.swipe-btn:hover{
   padding-left: 0px;
   padding-right: 40px;
   color: aliceblue;

}
.swipe-btn span{
    position: absolute;
    left: 5px;
    width: 25%;
    height: 85%;
    background-color: chartreuse;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(103, 105, 106);
    transition: 0.5s ease-in-out;
    border-top: 0.8px solid rgb(67, 141, 2);
    border-left: 0.8px solid rgb(67, 141, 2);
    /* position: relative;
    left: 5px; */
}
.swipe-btn:hover span{
    left: calc(100% - 27.9%);
}

.swipe-btn::after{
    content: ' ';
    position: absolute;
    height: 80px;
    width: 40px;
    background-color: rgb(158, 160, 162);
    z-index: 1;
    transform: translateX(-170px) skew(30deg);
    transition: .6s ease-in-out;
}
.swipe-btn:hover::after{
    transform: translateX(170px) skew(40deg) rotateY(90deg);
    background-color: rgb(246, 251, 255);
    
}